button {
  border: none;
  color: white;
  padding: 0;
}

.play-btn {
  border-radius: 10%;
}

.search-btn {
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
  width: 80px;
  background-color: #2f80ed;
  height: 30px;
}

input {
  width: 35%;
  margin-left: 20px;
  height: 24px;
}

.flex {
  display: flex;
}

.main-container {
  align-items: center;
  justify-content: center;
  height: 20vh;
}
