<div class="flex header-container">
  <button><img src="assets/img/logo (3).jpg" alt="logo"></button>
  <input [(ngModel)]="searchQuery.searchText" class="roboto" type="text" placeholder="What do you want to find out?">
  <button class="search-btn roboto mr-3" (click)="submit()">search</button>
  <button class="settings-btn" (click)="toggleFilters()"><img class="w-7 h-7" src="assets/svg/search_settings.svg"
      alt=""></button>
  <div class="login-block absolute flex">
    Your Name
    <button>
      <img class="px-2" src="assets/svg/login.svg" alt="login">
    </button>
  </div>
  <app-filtering-block (sortingChange)="sorting($event)" (filteringChange)="filtering($event)" *ngIf="showFilters">
  </app-filtering-block>
</div>