<div class="card-container relative">
  <h1 class="card-title">Create new card</h1>
  <div class="input-title grid">
    <label for="title">Title</label>
    <input id="title" type="text">
  </div>
  <div class="input-description grid">
    <label for="description">Description</label>
    <input id="description" type="text">
  </div>
  <div class="input-img grid">
    <label for="input-img">Img</label>
    <input id="input-img" type="text">
  </div>
  <div class="link-video grid">
    <label for="link-video">Link-video</label>
    <input id="link-video" type="url">
  </div>
  <button class="create-btn absolute">Create card</button>
</div>