button {
  border: none;
  color: white;
  padding: 0;
}

.play-btn {
  border-radius: 10%;
}

.admin-btn {
  border-radius: 5%;
  background-color: #2f80ed;
  padding: 6px;
  font-weight: bold;
  left: 5%;
}

input {
  width: 35%;
  margin-left: 20px;
  height: 30px;
  padding: 10px;
}

.flex {
  display: flex;
}

.header-container {
  align-items: center;
  justify-content: center;
  height: 150px;
  background-color: #efefef;
  position: relative;
}

.login {
  color: rgb(71, 71, 71);
}

.login-block {
  right: 5%;
}
