<div class="flex header-container relative">
  <button class="admin-btn absolute" (click)="goToAdmin()">ADMIN PAGE</button>
  <button (click)="goToHome()"><img src="assets/img/logo.jpg" alt="logo"></button>
  <input [(ngModel)]="searchQuery.searchText" (ngModelChange)="submit()" class="roboto" type="text"
    placeholder="What do you want to find out?">
  <button class="settings-btn" (click)="toggleFilters()"><img class="w-7 h-7 m-4" src="assets/svg/search_settings.svg"
      alt=""></button>
  <div class="login-block absolute flex">
    {{(getUserName$ | async) || 'Your name'}}
    <a *ngIf="(isLoggedIn$ | async) === false" routerLink="/auth/login">
      <img class="px-2 cursor-pointer" src="assets/svg/login.svg" alt="login">
    </a>
    <a *ngIf="isLoggedIn$ | async" routerLink="/auth/logout">
      <img class="px-2 cursor-pointer w-11 h-8"
        src="assets/img/transparent-login-icon-logout-icon-5dcfef94516950.3632820915739083723335.png" alt="login">
    </a>
  </div>
  <app-filtering-block *ngIf="showFilters" (sortingChange)="sorting($event)" (filteringChange)="filtering($event)">
  </app-filtering-block>
</div>