<div class="detailed-container flex px-12 py-10 justify-center" *ngIf="item">
  <button [routerLink]="'/home'" class="flex">
    <img src="assets/img/back_button.jpg" alt="back">
  </button>
  <div class="flex">
    <img src={{item.snippet.thumbnails.high.url}} alt="video card">
  </div>
  <div [ngClass]="stripeClass" class="card-info p-8 relative">
    <div class="card-title-date flex justify-between">
      <div class="card-title">{{item.snippet.title}}</div>
      <div class="card-date">{{item.snippet.publishedAt | date:'fullDate'}}</div>
    </div>
    <div class="card-description py-8">
      <h1 class="description-title">Description:</h1>
      <p class="description-text">
        {{item.snippet.description}}</p>
    </div>
    <div class="card-statistic flex absolute">
      <div class="view-info flex">
        <img src="assets/svg/viewed.svg" alt="view count">
        {{item?.statistics?.viewCount}}
      </div>
      <div class="likes flex">
        <img src="assets/svg/liked.svg" alt="likes">
        {{item?.statistics?.likeCount}}
      </div>
      <div class="dislikes flex">
        <img src="assets/svg/dislike.svg" alt="dislikes">
        {{item?.statistics?.dislikeCount}}
      </div>
      <div class="comments flex">
        <img src="assets/svg/group9.svg" alt="comments">
        {{item?.statistics?.commentCount}}
      </div>
    </div>
  </div>
</div>