<div class="detailed-container">
  <img src="assets/img/video.jpg" alt="video card">
  <div class="card-info">
    <div class="card-title">Kuji Podkast #20</div>
    <div class="card-date">Thusday, Decemver 20, 2019</div>
    <div class="card-description">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
      nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
      dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
      deserunt mollit anim id est laborum."</div>
  </div>
  <div class="card-statistic">
    <div class="view-info flex">
      <div><img src="assets/svg/viewed.svg" alt=""></div>
    </div>
    <div class="likes flex">
      <img src="assets/svg/liked.svg" alt="">
    </div>
    <div class="dislikes flex">
      <img src="assets/svg/dislike.svg" alt="">
    </div>
    <div class="comments flex">
      <img src="assets/svg/group9.svg" alt="">
    </div>
  </div>
</div>