<form class="login-container flex justify-center" [formGroup]="profileForm">
  <h1 class="login-text bold">Login</h1>
  <div class="login-field grid">
    <p class="title-info">login</p>
    <input type="email" placeholder="enter your login email" formControlName="nameForm">
    <div *ngIf="profileForm.get('nameForm')?.dirty">
      <div class="form-comment" *ngIf="profileForm.get('nameForm')?.errors?.['required']">
        Name is required
      </div>
      <div class="form-comment" *ngIf="profileForm.get('nameForm')?.errors?.['email']">
        Enter a valid email address
      </div>
    </div>
  </div>
  <div class="password-field grid">
    <p class="title-info">password</p>
    <input type="password" placeholder="enter the password" formControlName="passwordForm">
    <div *ngIf="profileForm.get('passwordForm')?.dirty" class="form-comment">
      <div class="form-comment" *ngIf="!profileForm.get('passwordForm')?.valid">
        Password should contain:
      </div>
      <div class="form-comment" *ngIf="profileForm.get('passwordForm')?.errors?.['smallLetter']">
        small letter
      </div>
      <div class="form-comment" *ngIf="profileForm.get('passwordForm')?.errors?.['capitalLetter']">
        capital letter
      </div>
      <div class="form-comment" *ngIf="profileForm.get('passwordForm')?.errors?.['number']">
        number
      </div>
      <div class="form-comment" *ngIf="profileForm.get('passwordForm')?.errors?.['symbol']">
        special symbol (!@#$%^&*)
      </div>
      <div class="form-comment" *ngIf="profileForm.get('passwordForm')?.errors?.['minlength']">
        Password must be at least 8 characters long
      </div>
    </div>
  </div>
  <button type="submit" (click)="login()" class="login-btn" [disabled]="!profileForm.valid">Login</button>
</form>