<div [ngClass]="stripeClass" class="item-container roboto flex flex-col">
  <div class="video">
    <img src="{{item?.snippet?.thumbnails?.medium?.url}}" alt="">
  </div>
  <div class="statistics">
    <div class="view-info flex">
      <div><img src="assets/svg/viewed.svg" alt=""></div>
      <div>{{item?.statistics?.viewCount}}</div>
    </div>
    <div class="likes flex">
      <img src="assets/svg/liked.svg" alt="">
      {{item?.statistics?.likeCount}}
    </div>
    <div class="dislikes flex">
      <img src="assets/svg/dislike.svg" alt="">
      {{item?.statistics?.dislikeCount}}
    </div>
    <div class="comments flex">
      <img src="assets/svg/group9.svg" alt="">
      {{item?.statistics?.commentCount}}
    </div>
  </div>
  <div class="title">
    {{item?.snippet?.title}}
  </div>
  <div class="btn-container">
    <a [routerLink]="'/detailed/' + item?.id " class="blue-btn more-btn">more...</a>
  </div>
</div>