@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: Roboto;
  src: url(assets/fonts/Roboto-Light.ttf);
}

.roboto {
  font-family: Roboto;
}

button {
  cursor: pointer;
}

.flex {
  display: flex;
}

// body {
//   background-color: red;
// }
