@import "theme.scss";
.filtering-container {
  justify-content: center;
  display: flex;
  bottom: 0;
  left: 15%;
  right: 15%;
  position: absolute;
}

button {
  background-color: none;
  border: none;
  font-family: roboto;
  color: $primary-color;
  padding: 0 10px;
  font-size: 1rem;
  &.active {
    text-decoration: underline;
  }
}

button:hover {
  text-decoration: underline;
}

input {
  border: none;
  padding: 0 10px;
}

input:focus+button {
  text-decoration: underline;
}